[submodule "test/ff-test-cases"]
	path = test/ff-test-cases
	url = git@github.com:drone/ff-test-cases.git
[submodule "log-templates"]
	path = log-templates
	url = git@github.com:harness/ff-sdk-standardized-logging.git
