{deps, [
    %% git dependencies
    {cfapi_client_api, {git, "https://github.com/harness/ff-erlang-client-api", {branch, "FFM-4278"}}},
    {lru, "2.4.0"},
    {ctx, "0.6.0"}
]}.

{profiles, [
    {prod, [
        {erl_opts, [no_debug_info]},
        {relx, [{dev_mode, false}]}
    ]},
    {test, [
        {deps, [{meck, "0.9.2"}]},
        {erl_opts, [debug_info]},
        {eunit_compile_opts, [export_all]}
    ]}
]}.




{shell, [
  % {config, "config/sys.config"},
    {apps, [cfclient]}
]}.
